*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    width: 1200px;
}
.image{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 900ms ease-in-out;
}
.image h1{
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.image.active{
    flex: 6;
}
.image.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media(max-width: 480px) {
    .container{
        width: 100vw;
        transition: opacity o.3s ease-in o.4s;
    }
    .image:nth-of-type(5),
    .image:nth-of-type(6){
        display: none;
    }
}